TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE_NUMBER=+15555555555
TWILIO_MESSAGING_SERVICE_SID=your_messaging_service_sid_here
MY_PHONE_NUMBER=+15555555555
SMS_WEBHOOK_PORT=8000
GMAIL_ACCOUNT_EMAIL=david@getaira.host
GMAIL_SEND_AS_EMAIL=aira.cohost@gmail.com
